body{
    background-color: lightgreen;

}
#cabeçalho{
    background-image: linear-gradient(to top , darkgreen, rgb(101, 182, 101));
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;

    height: 150px;
    
    

    box-shadow:3px 3px 6px 1px black;

    margin-top: 0px;
    margin-bottom: 10px;
    
    padding-top: 25px;
    border-radius: 5px;
   

}

#cabeçalho > h1{
    font-weight: lighter;
    

}


.menu{
    height: 40px;
    width: 500px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    text-shadow:    black 3px 3px 4px;

   
}
.menu > a {
    color: lightgreen;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 35px;
    

    
}
.menu > a:hover{
   background-color: rgba(136, 165, 136, 0.638); 
   border-radius: 5px;
}

.conteudo{
    font-family: sans-serif;
    background-color: white;
    width: 800px;

    border-radius: 8px;
     border-width: 1px;
     border-style: solid;
     border-color: black;

     padding-top: 0px;
     padding-left: 12px;
     padding-right: 30px;
   

     margin: 20px auto 20px auto;
     margin-top: 0px;
     box-shadow: 1px 2px 7px 1px black;

    
}

.article01{
    text-align: justify;
    text-indent: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.titulo01{
    color: green;
   
}
.article02{
    text-indent: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.article02 > h2{
    color: green;

}
.article03{
    text-align: justify;
    text-indent: 15px;
    padding-right: 10px;
    padding-left: 10px;

}
.article03 > h2{

color: green;
text-shadow: black 3px 2px 5px;


}
.article04{
    height: 560pxpx;
    width: 800px;
    background-color: lightgray;
    margin: auto;
    

    text-align: justify;
    text-indent: 15px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px 10px;
    

}
.article04 > h2{
    height: 40px;
    background-color: rgb(50, 126, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-top: 18px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: black 3px 3px 4px;
}
.article04 > p{
    padding: 10px 10px;
    text-align: justify;
}


.linksite{
    font-weight:bold ;
    color: green;
    text-decoration: none;

}
.link:hover{
    text-decoration: underline;
}

.img01{
    padding:0%;
    margin: auto;
}
.final{
    text-align: justify;
    text-indent: 25px;
    

}
.rodape{
font-size: 1em;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
background-color: darkgreen;
color: whitesmoke;
text-align: center;
margin: 0px;
height: 30px;
padding-top: 10px;
border-radius: 6px;
box-shadow: 1px 2px 7px 1px black;
text-shadow: black 3px 3px 4px;

}
.rodape > strong{
    font-weight: 800;
    color: lightgreen;
}
.rodape > a{
    font-weight: 800;
    color: lightgreen;
    text-decoration: none;  
}
.rodape > a:hover{
    text-decoration: underline;
    color: rgb(193, 255, 193);
    
}

   

